body {
    font-family: 'Vazir', sans-serif;
    background-color: #4f18b6a1;
    direction: rtl;
    box-sizing: border-box;
    border-color: #5027af50;
}
.container__form {
    display: flex;
    width: 38rem;
    height: 40rem;
    padding-top: 3%;
    background-color: rgb(255, 255, 255);
    border: 10rem;
    border-radius: 20rem;
    padding-left: 20rem;
    align-items: center;
    margin-right: 11%;
}
.container__loginimg {
    display: flex;
    padding-right: 6rem;
    width: 75rem;
    height: 50rem;
    border-radius: 10rem;
}
img {
    width: 27rem;
    height: 22rem;
    margin: -1rem -4rem -3rem -2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-bottom: 1rem;
    border-radius: 10.5rem;
    padding-top: 17rem;
}
.text__site {
    width: 39rem;
    padding-left: 2px;
    font-size: 10rem;
    margin: 1rem -19rem;
    color: #210b24c5;
}
.description {
    width: 16rem;
    color: #4f18b6a1;
    padding-top: 17rem;
    font-size: 3.5rem;
    direction: rtl;
}
.singup {
    margin: 30rem -16rem 7rem 2rem;
    width: 14.5rem;
    height: 3.5rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    font-family: inherit;
    border-color: #5027af50;
    border-style: solid;
    cursor: pointer;
}
.singup:hover {
    background-color: #521fc99d;
    color: rgb(255, 255, 255);
    animation-delay: 0.5s;
    transition-delay: 1s;
    border-radius: 2.5rem;
    height: 4rem;
    transition: all 0.5s;
    transition: ease-in-out cubic-bezier(1, 0, 0, 1);
}
.hidden {
    display: none;
}
#overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 24px;
    border-radius: 8px;
    z-index: 10;
}
#errorMessage {
    color: red;
    margin-top: 10px;
}
li {
    height: 7rem;
    background-color: rgb(255 255 255);
    border-radius: 9rem;
    padding-top: 2rem;
    font-family: 'vazir';
    padding-right: 1rem;
    margin-right: 3rem;
    margin-top: 4rem;
    border-color: #130533e0;
    border: 10rem;
}
button {
    font-family: 'vazir';
    border-radius: 4rem;
    display: block;
    box-sizing: border-box;
    width: 6rem;
    margin: auto;
    height: 3rem;
    margin-top: 1rem;
    font-size: 1.025;
    text-align: center;
}
button:focus {
    background-color: #521fc99d;
    color: rgb(255, 255, 255);
    animation-delay: 0.5s;
    transition-delay: 1s;
    border-radius: 2.5rem;
    height: 4rem;
    transition: all 0.5s;
    transition: ease-in-out cubic-bezier(1, 0, 0, 1);
}
button:hover {
    background-color: #521fc99d;
    color: rgb(255, 255, 255);
    animation-delay: 0.5s;
    transition-delay: 1s;
    border-radius: 2.5rem;
    height: 4rem;
    transition: all 0.5s;
    transition: ease-in-out cubic-bezier(1, 0, 0, 1);
}
#closeModal:hover {
    background-color: #521fc95e;
    color: rgb(238, 4, 4);
    animation-delay: 0.5s;
    transition-delay: 1s;
    border-radius: 2.5rem;
    height: 4rem;
    transition: all 0.5s;
    transition: ease-in-out cubic-bezier(1, 0, 0, 1);
}
input {
    display: block;
    font-family: 'vazir';
    height: 2.5rem;
    width: 12rem;
    border-radius: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
form {
    width: 13rem;
    height: 16rem;
}
